<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Sign In</title>
    </head>
    <body>
        <a href="/signUp">Sign Up</a>
        <form action="/users" method="get">
            <label>Email</label><br/>
            <input type="text" name="email" placeholder="e.g: john@jimeil.com"><br/>
            <label>password</label><br/>
            <input type="password" name="password"placeholder="input password"><br/>
            <button type="submit">Sign In</button><a href="/"> Cancel </a>
        </form>
    </body>
</html>