<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <form action="/signUp" method="post">
            <label>Name</label><br/>
            <input type="text" name="name" placeholder="e.g: john"><br/>
            <label>role</label><br/>
            <input type="radio" name="role" value="Admin">Admin</label>
            <input type="radio" name="role" value="User">User</label><br/>
            <label>Email</label><br/>
            <input type="text" name="email" placeholder="e.g: john@jimeil.com"><br/>
            <label>password</label><br/>
            <input type="password" name="password"placeholder="input password"><br/>
            <button type="submit">Sign Up</button><a href="/"> Cancel </a>
        </form>
    </body>
</html>